/*PROFILE PAGE*/


.profilewrapper .editprofilebutton {
    display: block; /* Ensure button takes up full width */
    margin: 0 auto; /* Center the button horizontally */
    margin-top: 10px;
    width: 200px;
    height: 45px;
    background: #c38dff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}


.profilewrapper .editprofilebutton:hover {
    background-color: transparent;
    color: white; /* Change text color to white on hover */
}

#profile {
    display: block;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    margin-top: 100px;
    padding-top: 100;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    background-image: url(../images/image3.jpg);
    background-color: rgba(255, 255, 255, 0.689);
    border-bottom: 3px solid black;
}

#profile img {
    border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
    width: 210px;
    height: 210px;
    border: 4px solid #c99cfd;
    box-shadow: 0 0.9px 3px 5px rgba(54, 48, 48, 0.9);
}

#profile h1 {
    margin-top: 10px;
    font-size: 1.9em;
    color: #1c1c1c;
    padding: 25px;
    text-align: center;
    text-decoration: underline 3px solid rgb(218, 66, 229);
}

#profile p {
    color: #343434;
    font-size: 1.3em;
    padding: 50px;
    position: relative;

}

#profileText {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: #ffffff9a;
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.6);
    /*THIS IS COOL GUYS! THIS ADDS A SHADOW TO THE BACK OF THING. TRY IT OUT.*/
}


#recently-watched h2 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 105px;
    font-size: 1.8em;
    color: #333;
}

#recently-watched img{    
    max-width: 190px;

}

#friends-list h2 {
    text-align: left;
    padding: 20px;
    font-size: 1.5em;
    color: #333;

}

.recently-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 26px;
    padding: 29px;
}


.recently-container:hover img {
    cursor: pointer;
    background-color: #7509f046;
}

.recently-container img {
    padding: 3px;
    box-shadow: 0 2px 17px #25043e;
    max-width: 500px;
    max-height: 500px;
}

#friends-list {
    padding: 10px;
    display: inline;

}

#friends-list img {
    margin-bottom: 15px;

    display: inline;
}

#friends-list span {
    margin-left: 10px;
    padding: 10px;
    background-color: #d570ea58;
    display: inline;
}


#friends-list h2 {
    margin-left: 100px;
}

.friends-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 500px;
}

.friend-item {
    flex: 0 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: solid #c38dff;
    padding: 1.3px;
}